# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [2]:
x = np.zeros(10)
x

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [3]:
vec1 = np.arange(10, 50)
vec1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [4]:
vec1.shape

(40,)

5. Print the type of the previous array in question 3

In [5]:
vec1.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [6]:
print(np.__version__)
print(np.show_config())

1.18.5
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ikram/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/ikram/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ikram/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/ikram/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ikram/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/ikram/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ikram/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/Users/ikram/anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [7]:
vec1.ndim

1

8. Create a boolean array with all the True values

In [8]:
booArray = np.array([1,2,3,4,5,6], dtype=bool);
booArray

array([ True,  True,  True,  True,  True,  True])

9. Create a two dimensional array

In [9]:
arr2D = np.arange(20).reshape(4,5);
arr2D

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

10. Create a three dimensional array

In [10]:
arr3D = np.arange(45).reshape(3, 3, 5);
arr3D

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14]],

       [[15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29]],

       [[30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [11]:
np.flip(arr2D)

array([[19, 18, 17, 16, 15],
       [14, 13, 12, 11, 10],
       [ 9,  8,  7,  6,  5],
       [ 4,  3,  2,  1,  0]])

12. Create a null vector of size 10 but the fifth value which is 1

In [12]:
x = np.zeros(10, dtype=int);
x[4] = 1;
x

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

13. Create a 3x3 identity matrix

In [13]:
im3x3 = np.identity(3);
im3x3

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [14]:
arr = np.array([1, 2, 3, 4, 5])
arr.astype(float)

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [15]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]]);
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]]);
arr3 = arr1*arr2;
arr3

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [16]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]]) ;
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]]);

compArr = arr1 == arr2;
compArr

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [17]:
a = np.arange(0, 10);

b = a[a % 2 == 1];

b

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [18]:
a[a%2 == 1] = -1
a

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [19]:
arr = np.arange(10)
arr[5:9] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [20]:
x = np.ones((4,4))
x[1:3, 1:3] = 0
x

array([[1., 1., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [21]:
arr2d = np.array([[1,2,3],
                 [4,5,6],
                 [7,8,9]]);
arr2d[1,1] = 12;
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [22]:
arr3d = np.array([[[1,2,3], [4,5,6]], [[7,8,9], [10,11,12]]])

arr3d[0][0] = 64

arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [23]:
arr1 = np.arange(9).reshape(3,3)
arr2 = arr1[0]
arr2

array([0, 1, 2])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [24]:
arr1 = np.arange(9).reshape(3,3)
val = arr1[1][1]
val

4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [25]:
arr1 = np.arange(9).reshape(3,3)
arr3 = arr1[:-1, -1]
arr3

array([2, 5])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [26]:
import numpy as np
arr = np.random.randn(100)
arr = arr.reshape((10, 10))
print(arr)
print("---------------------")
print("Minimun value in the array is : ", np.amin(arr))
print("Maximum value in the array is : ", np.amax(arr))

[[-1.55792134  0.35004179  1.0019542  -1.00706907 -0.69667902 -1.46157739
  -1.38914842  0.42454483  0.43048452  0.67738089]
 [-0.51388293  0.69089543 -1.12487447 -1.63576572 -0.84319428 -0.32265044
   0.54242948 -0.10348447 -1.71588426  0.70924759]
 [ 1.06514743 -0.52791457 -1.66694188  0.56793776 -0.89400459 -0.24608032
   0.12365831 -0.26655362  1.82742279  1.54406575]
 [-0.84120117  0.17406427  0.73564585  1.08561192  1.39238275  0.34634409
   2.5944702  -1.52643163 -0.35548409  0.575352  ]
 [-0.83983223 -0.79641609  0.83668714  0.47783605 -0.55051722 -0.25416771
   0.63999436 -0.67688378  0.04403456 -0.02308692]
 [ 1.13433901 -0.21850202  0.28478513  0.08543981  0.07865148 -1.41551776
   0.6606914   0.21581279 -0.28301719 -1.72691868]
 [ 1.48877325  0.0910189  -0.06917314 -0.14230993  0.41790244  0.26022129
   0.93101975  1.24180627 -0.96552768  0.59749252]
 [-0.0545713   1.44327974 -1.57892477 -0.14561064  0.86058916  0.41219013
   1.04165942  0.309613   -0.62116981  0.1053411 ]
 [-0.02135568 -0.16159004 -0.53596339  0.11420164 -1.37223086  0.21359726
   0.23626427  0.52588631 -0.59430791  0.22065703]
 [-0.0362696   1.45770852  0.21785228  0.31581099 -1.9358039  -2.22647582
  -2.14377391  0.73533668  0.11722657 -0.70432893]]
---------------------
Minimun value in the array is :  -2.226475822250416
Maximum value in the array is :  2.594470204430819

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [27]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 

b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a, b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [28]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [29]:
import random

names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
data = np.random.randn(7, 4)
data[names != "Will"]

array([[ 1.5912676 ,  2.04254139,  0.67663373,  2.35284052],
       [ 0.27665279,  0.38089595, -1.39780213,  0.19922318],
       [-1.30295658, -0.44918809, -0.67679704, -0.73620829],
       [-0.28119161, -0.40572513, -1.43395791, -0.52847111],
       [-0.96073353,  1.18472839, -0.04564727, -1.41308318]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [30]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  
data = np.random.randn(7, 4)
boolIndex = (names != 'Will') & (names != 'Joe') 
data [boolIndex]

array([[-0.01712568,  1.36928272,  0.72606126,  2.03070503],
       [ 0.72181224, -1.19544685, -1.9992464 , -0.09025103]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [31]:
arr2d = np.random.uniform(low=1.0, high=15.0, size=(5,3))
arr2d

array([[11.40447772,  3.97864384,  8.96731008],
       [ 9.79190066,  3.24716798,  1.22094056],
       [ 5.85746889,  9.30603829, 10.62150776],
       [ 1.29419845,  3.73884568,  8.88453719],
       [ 5.33636449,  4.3462701 ,  4.23807185]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [32]:
arr3d = np.random.uniform(low=1.0, high=16.0, size=(2, 2, 4))
arr3d

array([[[11.26809574,  2.47882807, 10.50069356,  4.60881236],
        [ 5.11688453,  6.50398087,  1.17817924,  1.85923483]],

       [[12.51698638,  2.99008484,  4.91071244, 12.74481159],
        [15.59941056, 12.20887339,  6.77107157,  6.31617306]]])

33. Swap axes of the array you created in Question 32

In [33]:
arr3d = np.swapaxes(arr3d, 0, 1)
arr3d

array([[[11.26809574,  2.47882807, 10.50069356,  4.60881236],
        [12.51698638,  2.99008484,  4.91071244, 12.74481159]],

       [[ 5.11688453,  6.50398087,  1.17817924,  1.85923483],
        [15.59941056, 12.20887339,  6.77107157,  6.31617306]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [34]:
import math

arr = np.random.random(10)
print(arr)

new_arr = np.sqrt(arr)
new_arr = np.where(new_arr < 0.5, 0, new_arr)
new_arr

[0.49143491 0.62494901 0.57682205 0.842638   0.63265698 0.21783161
 0.27993515 0.66678518 0.23081008 0.71250021]

array([0.70102419, 0.79053716, 0.75948802, 0.91795316, 0.79539737,
       0.        , 0.52908898, 0.81656915, 0.        , 0.84409728])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [51]:
arr1 = np.random.random(12)
arr2 = np.random.random(12)
print(arr1)
print(arr2)

maxArr = np.maximum(arr1, arr2)
maxArr

[0.90187046 0.25861137 0.87071682 0.26041951 0.3815697  0.6290845
 0.65956051 0.30327232 0.55511851 0.11265728 0.22811395 0.47130355]
[0.63900019 0.14759253 0.89788554 0.26795288 0.93810925 0.57182372
 0.71582652 0.96374492 0.66153016 0.91479318 0.47204429 0.25251552]

array([0.90187046, 0.25861137, 0.89788554, 0.26795288, 0.93810925,
       0.6290845 , 0.71582652, 0.96374492, 0.66153016, 0.91479318,
       0.47204429, 0.47130355])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [36]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
a = np.unique(names)
np.sort(a)
a

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [37]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
val = np.intersect1d(a, b)
a = np.delete(a, np.where(a == val))
a

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [38]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])

sampleArray[:, 1] = newColumn
sampleArray

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [39]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])

np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [52]:
mat1 = np.random.rand(4,5)
print(mat1)

np.cumsum(mat1)

[[0.62882132 0.45892156 0.36859997 0.90414684 0.93844464]
 [0.37385771 0.13444092 0.37089849 0.54722272 0.67635957]
 [0.80917001 0.28004717 0.72103334 0.88157182 0.49328099]
 [0.38606634 0.09689745 0.52267355 0.58293215 0.53649967]]

array([ 0.62882132,  1.08774288,  1.45634284,  2.36048968,  3.29893432,
        3.67279203,  3.80723295,  4.17813144,  4.72535415,  5.40171373,
        6.21088373,  6.4909309 ,  7.21196424,  8.09353605,  8.58681704,
        8.97288339,  9.06978084,  9.59245438, 10.17538654, 10.71188621])